.container-amigos-screen,
.container-cards-amigos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container-cards-amigos {
  flex-direction: row;
}
